
html {
    font-size: 50px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

body {
    color: #333;
    font: 12px/20px "SimSun", "微软雅黑", "Arial", HELVETICA;
    background: #fff;
    /* overflow-y:scroll;*/
    overflow-x: hidden;
}

a {
    color: #666;
    text-decoration: none;
}

.transition {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*第一部分*/
.jiekuan_s1_wrap{
	width: 100%;
	height: 646px;
	background: #111c3a;
	border-bottom: 2px solid #3c4765;
	overflow: hidden;
}

.jiekuan_s1{
	display: flex;
	justify-content: space-around;
	width: 900px;
	margin:94px auto;
}
/*第一部分左侧内容*/
.jiekuan_s1_left{
	width: 365px;
	height: 440px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 10px #28316a;
	/*border: 5px solid #28316a;*/
}
.jiekuan_s1_left h2{
	margin: 75px 0;
	text-align: center;
	font: 30px/30px "微软雅黑";
}
.jiekuan_s1_left p{
	text-align: center;
}
.jiekuan_s1_left p input{
	border: 1px solid #17235d;
	border-radius: 5px;
	width: 160px;
	height: 44px;
}
.jiekuan_s1_left .jiekuan_s1_left_btn{
	width: 150px;
	height: 44px;
	border: 1px solid #17235d;
	border-radius: 5px;
	background: 0;
	font: 18px/40px "微软雅黑";
	margin-top: 50px;
}


/*----------------------------------第一部分右侧内容--------------*/
.jiekuan_s1_right{
	color: #fff;
	padding-top: 90px;
}
.jiekuan_s1_right h3{
	font: 30px/32px "微软雅黑";
}
.jiekuan_s1_right h4{
	font: 20px/22px "微软雅黑";
	margin: 35px 0;
}
.jiekuan_s1_right h4 input{
	width:80px;
	height:26px;
	font: 34px/34px;
	border-radius:2px;
	color: #ec8624;
	border:0;
	text-decoration: underline;
}
.jiekuan_s1_right p{
	margin-top: 24px;
}
.jiekuan_s1_right p button{
	display: inline-block;
	width: 82px;
	height: 32px;
	border-radius: 2px;
	background: #fff;
	color: #000;
	text-align: center;
	font: 14px/30px arial;
	border:0;
}
.jiekuan_s1_right .jiekuan_s1_right_active{
	background: #ed841b;
	color: #fff;
}







/*第二部分*/
.jiekuan_s2_wrap{
	width: 100%;
	height: 646px;
	background: #111c3a;
	border-bottom: 2px solid #3c4765;
	overflow: hidden;
}
.jiekuan_s2{
	width: 1200px;	
	margin:30px auto 0;
}
.jiekuan_s2_h2{
	text-align: center;
	font: 50px/50px "微软雅黑";
	color: #f98a1e;
}
.jiekuan_s2_p{
	text-align: center;
	font: 24px/24px "微软雅黑";
	color: #fff;
	margin: 24px 0 24px;
}
.jiekuan_s2_money{
	width: 926px;
	height: 380px;
	background: #fff;
	margin: auto;
}

/*第二部分上方内容*/
.jiekuan_s2_money_1{
	height: 262px;
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
}
.jiekuan_s2_money_1_left{
	margin-top: 40px;
	font:26px/26px "微软雅黑";
	border-right: 1px solid #aeaeae;
	padding-right: 60px;
}
.jiekuan_s2_money_1_left h3{
	font-weight: 100;
}
.jiekuan_s2_money_1_left p{
	font-size: 8px;
	color: #f27d0b;
	position: relative;
}
.jiekuan_s2_money_1_left p span{
	display: inline-block;
	width: 310px; 
	height: 0.1px;
	border: 1px solid #202020;
	margin-top: 50px;
}
/*50000下的内容*/
.jiekuan_s2_money_1_left .jiekuan_s2_money_1_left_p i{
	display: inline-block;
	width: 138px;
	height: 0.1px;
	border:1px solid #f27d0b;
	position: absolute;
	left: 0;
	top: 50px;
}
.jiekuan_s2_money_1_left .jiekuan_s2_money_1_left_p b{
	display: inline-block;
	position: absolute;
	left: 138px;
	top: 45px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ed8719;
}

/*3月下的内容*/
.jiekuan_s2_money_1_left p i{
	display: inline-block;
	width: 60px;
	height: 0.1px;
	border:1px solid #f27d0b;
	position: absolute;
	left: 0;
	top: 50px;
}
.jiekuan_s2_money_1_left p b{
	display: inline-block;
	position: absolute;
	left: 60px;
	top: 45px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ed8719;
	
}
.jiekuan_s2_money_1_left_time{
	padding-left:35px;
	height: 31px;
	margin-top: 25px;
	background: url(../img/time.jpg) no-repeat left center;
}
/*计算器加*/
.jiekuan_s2_money_1_left_plus1{
	cursor: pointer;
}
.jiekuan_s2_money_1_left_plus2{
	cursor: pointer;
}
/*第二部分上右边*/
.jiekuan_s2_money_1_right h2{
	text-align: center;
	margin-top: 100px;
	font:100 40px/40px "微软雅黑";
}
.jiekuan_s2_money_1_right h4{
	text-align: center;
	margin-top: 32px;
	font:100 28px/28px "微软雅黑";
}
.jiekuan_s2_money_1_right span{
	color: #e18a23;
}

/*第二部分下*/
.jiekuan_s2_money_2{
	height: 120px;
	background: #f7f9f8;
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
	
}
.jiekuan_s2_money_2_left p{
	text-align: center;
	margin-top: 24px;
	font-size: 16px;
}
.jiekuan_s2_money_2_left p input{
	width: 60px;
	height: 16px;
	margin-right: 15px ;
	background: 0;
	border: 0;
	border: 1px solid #000;
}



.jiekuan_s2_money_2_right p{
	text-align: center;
}
.jiekuan_s2_money_2_right p a{
	text-decoration: underline;
}
.jiekuan_s2_money_2_right_btn{
	margin: 12px 0 5px;
	border: 0;
	background: #ed841b;
	width: 170px;
	font: 24px/40px "微软雅黑";
	color: #fff;
}


/*服务协议*/
.jiekuan_s2_money_2_right_mask{	
	display:none;
	margin:30px 300px;
	width: 900px;
	height: 560px;
	background: #fff;
	overflow: auto;
	padding: 20px;
}
.jiekuan_s2_money_2_right_mask h3{
	text-align: center;
	margin: 20px;
	font-family: "微软雅黑";
}
.jiekuan_s2_money_2_right_mask p{
	text-align: left;
	margin: 10px;
	text-indent: 2em;
	font: 14px/24px "微软雅黑";
}
.jiekuan_xieyi_btn{
	width: 120px;
	height: 40px;
	border-radius: 5px;	
	display: block;
	border:0;
	background: #ed841b;
	font: 20px/24px "微软雅黑";
	color: #fff;
	margin: 25px auto;
	cursor: pointer;
}



